.toDoItemWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  border-bottom: 2px solid rgba(40, 54, 24, 0.4);
}

.toDoItemWrapper:last-child {
  border: none;
}

.toDoItem {
  color: var(--bg-green-primary);
  font-weight: 700;
}

.toDoItem span {
  cursor: pointer;
}

.toDoItemButton {
    padding: .5rem;
    width: 3rem;
    height: 3rem;
}

.completed {
  text-decoration: line-through;
}
