.toDoStatsWrapper {
    display: flex;
    justify-content: space-between;
}

.statWrapper {
    padding: 1rem;
    background-color: var(--bg-green-hover);
    border-radius: 20px;
    cursor: default;
}

.statWrapper h5{
    line-height: 1em;
    margin: 0;
}